
:root {
  --dark-shade0: #48463e;

  --dark-shade1: #5e5c55;

  --dark-shade2: #73736b;

  --dark-shade3: #898982;

  --dark-shade4: #9f9f99;

  --dark-shade5: #b5b5b0;

  --dark-shade6: #caccc6;

  --dark-shade7: #e0e2dd;

  --dark-accent0: #e29288;

  --dark-accent1: #e4a572;

  --dark-accent2: #dbb66d;

  --dark-accent3: #a4cc78;

  --dark-accent4: #71ca98;

  --dark-accent5: #7eb9d0;

  --dark-accent6: #bb91b7;

  --dark-accent7: #c08da4;

  --light-shade0: #edebe8;

  --light-shade1: #d5d4d0;

  --light-shade2: #bcbcb7;

  --light-shade3: #a4a59f;

  --light-shade4: #8b8e87;

  --light-shade5: #73776f;

  --light-shade6: #5a5f56;

  --light-shade7: #42483e;

  --light-accent0: #ab5b51;

  --light-accent1: #b97b49;

  --light-accent2: #c49f47;

  --light-accent3: #82ab55;

  --light-accent4: #59b07f;

  --light-accent5: #70a4b9;

  --light-accent6: #9d7a9a;

  --light-accent7: #b2889b;
}