////////// NAVBAR

.navbar {
  height: 10rem;
  border-bottom: 4rem solid var(--color-grey-dark-1);

  &-main {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;

    &-logo {
      height: inherit;
      width: height;
      margin-left: 5rem;
      cursor: pointer;
    }

    &-name {
      height: 10rem;
      margin-right: auto;
      cursor: pointer;
    }

    &-search {
      height: 3rem;
      width: 20rem;
      margin-right: 1rem;
      &-btn {
        height: 2.75rem;
      }
    }
  }
}

/* OVERVIEW========================================= */

.overview-widget {
  position: relative;
  text-align: left;
  border-color: cadetblue;
  border-style: solid;
  height: 90vh;
}

.overview-widget-productInfo {
  font-size: 1.5rem;
  position: absolute;
  min-height: 150px;
  width: 340px;
  top: 18rem;
  right: 8rem;
}

.style-select {
  position: absolute;
  bottom: 14rem;
  right:0;
  font-size: 2rem;
  display: flex;
  width: 50%;
  font-size: 1.5rem;
}

.add-cart {
  position: absolute;
  border-style: solid;
  width: 100%;
  height: 15%;
  bottom: 0;
}

.row-select {
  display: inline-block;
}

.style-img {
  padding: 5px 20px;
  width: 12rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.carousel-list {
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.carousel-vertical {
 display: flex;
 height: 20rem;
}

.img-gallery-wrap {
  position: relative;
  height: 40rem;
}

.thumbnail {
  /* flex-shrink: 0; */
  padding: 5px 20px;
  width: 140px;
  height: 140px;
  object-fit: cover;
}


.thumbnail-gallery {
  /* flex-shrink: 0; */
  padding: 10px;
  width: 15rem;
  height: 8rem;
  object-fit: cover;
}

.gallery-img img {
  padding: 5px 20px;
  height: 40rem;
  left:0;
}

.gallery-img {
  position: absolute;
  top: 15rem;
  height: 30rem;
}

.fa {
  padding-right: 10px;
}

//////// RELATED PRODUCTS & OUTFITS

.related-outfits-container {
  background-color: #fff;
  margin-top: 2rem;
  height: 50vh;
}

.related, .outfits {
  height: 50%;
  position: relative;

  &-text {
    font-weight: 100;
    font-size: 1.3rem;
  }

  &-list {
    height: 95%;
  }

  &-modal {
    height: fit-content;
    width: fit-content;
    padding: 3rem;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-grey-light-1);
    overflow: scroll;
  }
}

.card {
  height: inherit;
  flex-shrink: 0;
  width: 20%;
  margin-right: 1.5rem;
  box-shadow: 0 .5rem .8rem var(--shadow-dark);
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1rem 1rem var(--shadow-dark);
  }

  &-display {
    height: 50%;
    position: relative;

    &-btn {
      position: absolute;
      right: 1rem;
      outline: none;
      cursor: pointer;
      background: transparent;
      border: none;
      font-size: 2rem;
    }

    .related-list &-btn {
      color: yellow;
    }

    .outfits-list &-btn {
      color: red;
    }
  }

  &-display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  &-info {
    height: 50%;
    display: flex;
    text-align: center;
    margin-left: .5rem;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.addOutfit-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.outfits {

}

////////// Q&A

.qa {
  margin: 2rem 0;
  min-height: 15vh;
  max-height: 100vh;

  &-title {
    margin-top: 2rem;
    font-weight: 100;
    font-size: 1.3rem;
  }

  &-search {
    height: 4rem;
    margin: 2rem 0;

    &-input {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &-icon {
    font-size: 1.2rem;
  }

  &-main {
    min-height: 15vh;
    max-height: 100vh;
    overflow: scroll;

    &-item-q {
      display: flex;
      justify-content: space-between;
      height: 3rem;
      line-height: 2rem;

      &-body {
        font-weight: 700;
        font-size: 1.2rem;
      }

      &-interactions {
        width: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-item-a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: max-content;
      line-height: 2rem;
      margin-bottom: 1rem;

      &-interactions {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-images {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.btn_ {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #000;
  font-size: 1rem;
}

.add-answer-modal,
.add-question-modal {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  background-color: #EDEBE8;
  overflow: scroll;
}