.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &-input {
    height: inherit;
    width: 100%;
    padding: 3px;
    outline: none;
    font-size: 1rem;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: .5rem;
    border: none;
    background-color: transparent;
  }

  &-icon {
    height: 1rem;
  }
}

.slider {
  &-container {
    height: inherit;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
    padding: 3px;
    scroll-behavior: smooth;
  }

  &-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    &-horizontal {

    }
    &-vertical {

     }
  }

  &-arrow {
    position: absolute;
    font-size: 5rem;
    cursor: pointer;
    z-index: 10;

    &-prev {
      left: -2rem;
     }

     &-next {
      right: -2rem;
     }
  }

   &-disable {
    opacity: 0.5;
    pointer-events: none;
   }
}

/* WIDGETS */
.stars {
  color: gold;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  color: #fff;
  cursor: pointer;

  &:hover {
      background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &:focus {
      outline: none;
      animation: pulsate 1s infinite;
  }
}

////// KEYFRAMES

@keyframes pulsate {
  0% {
      transform: scale(1);
      box-shadow: none;
  }

  50% {
      transform: scale(1.05);
      box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
  }

  100% {
      transform: scale(1);
      box-shadow: none;
  }
}